# ././dockerignore

RWCode/README.md
RWCode/LICENSE
RWCode/.dockerignore
RWCode/test/
RWCode/notes/
Results
RWCode/.gitub
RWCode/notes
RWCode/test
UnlocksRWCode.pem
personal_access_token_git.txt
Results
docs